    <div class="about text-white font-weight-bold mb-5">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="font-weight-bold">Contacto</h1>
                <p >Estamos ubicados en Pinto 654. Para hacer una reserva o para cualquier consulta, no dudes en contactarnos:</p>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <ul>
                    <li><strong>Teléfono:</strong> +54 2494-123456</li>
                    <li><strong>Correo Electrónico:</strong> Fusióngourmet&#64;gmail.com </li>
                    <li><strong>Horario de Atención:</strong> 19:00 hs - 00:00 hs </li>
                </ul>
                <p>¡Esperamos poder recibirte pronto en Fusión Gourmet para que disfrutes de una experiencia gastronómica única!</p>
            </div>
        </div>
    </div>