    <div class="about text-white font-weight-bold mb-5">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="font-weight-bold">Contacto</h1>
                <p >Estamos ubicados en [dirección del restaurante]. Para hacer una reserva o para cualquier consulta, no dudes en contactarnos:</p>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <ul>
                    <li><strong>Teléfono:</strong> [número de teléfono]</li>
                    <li><strong>Correo Electrónico:</strong> [Mail]</li>
                    <li><strong>Horario de Atención:</strong> [horarios de apertura]</li>
                </ul>
                <p>¡Esperamos poder recibirte pronto en El Gaucho Argentino para que disfrutes de una experiencia gastronómica única!</p>
            </div>
        </div>
    </div>