<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>            
        </tr>
    </thead>
    <tbody>        
        @for (beer of beers; track beer.name) {
            <tr [ngClass]="{'table-warning': beer.clearance}" >
                <td><img [src]="beer.image" width="300px" class="img-thumbnail" [alt]="beer.name" ></td>
                <td>{{ beer.name }}</td>
                <td>{{ beer.price | currency }}</td>
                <td>{{ beer.type }}</td>
                @if (beer.stock >0) {
                <td>{{ beer.stock }}</td>
                } @else {
                <td><span class="badge text-bg-danger">SIN STOCK</span></td>
                }
                @if(beer.stock>0){
                    <td>
                        <app-input-number [(quantity)]="beer.quantity" [max]="beer.stock"></app-input-number>
                    </td>
                    <td>                    
                        <button class="btn btn-primary" (click)="addToCart(beer)">Comprar</button>
                    </td>
                }@else{
                    <td></td>
                    <td></td>
                }
            </tr>
            } @empty {
            <tr>
                <td colspan="6">No hay cervezas para mostrar.</td>
            </tr>            
            }
    </tbody>
</table>
