<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Fusion Gourmet</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white font-weight-bold mb-5">Explora la diversidad culinaria en Fusión Gourmet. Descubre sabores que combinan lo mejor de la cocina internacional en un solo lugar. Deléitate con un menú que promete una experiencia gastronómica inolvidable.</p>
                <a class="btn btn-primary btn-xl" [routerLink]="['/menu']">Ir al menu</a>
            </div>
        </div>
    </div>
</header>